/* top categoriues list */


.youtube-top-categories-menu {
    overflow: scroll;
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: 56px;
    margin-left: 73px;
    padding-top: 10px;
    padding-bottom: 15px;
    z-index: 1;
    background: #0f0f0f;
}

.youtube-top-categories-menu::-webkit-scrollbar{
    display: none;
}

.youtube-top-categories-menu ul{
    width: max-content;
    flex-direction: row;
    flex-wrap: nowrap;

    padding: 0;
    margin: 0;
}

.youtube-top-categories-menu ul li{
    display: inline-block;
    background-color: #272727;
    padding: 7px 13px;
    border-radius: 8px;
    margin-left: 10px;
}

.youtube-top-categories-menu ul li:active{
    background: #717171;
 }

.youtube-top-categories-menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
/* #youtube-top-categories-menu-list-item-one {
    background-color: #fff;
    margin-left: 24px;
}
#youtube-top-categories-menu-list-item-one a{
    color: #0f0f0f;
} */
#nav-active{
    background-color: #fff;
    /* color: #111; */
}
#nav-active a{
    /* background-color: #fff; */
    color: #111;
}


/* media */


@media screen and (max-width:991px) {
   
    .youtube-top-categories-menu {
        margin-top: 57px;
        margin-left: 0;
       
    }
   
    
    .youtube-top-categories-menu ul li{
        padding: 6px 10px;
    }
    .youtube-top-categories-menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

    
}
